@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    color: rgb(15, 70, 75);
    font-size: 10px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(15, 70, 75);
    font-size: 30px;
  }
}
